.b-view {
    display: flex;
    justify-content: center;
      .b-view-container {
        width: 30%;
        height: 80%;
        margin: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 3px solid #83c5a4;
        background-color: #a7ebc9;
        .b-view-content{
          padding-bottom: 80px;
        }
        .b-view-header{
          font-size: 30px;
        }
      }
    }