.view {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #d6d6ff;
}
button {
  font-size: 30px;
  cursor: pointer;
  // background-color: #d6d6ff;
  border: 3px solid black;
  width: 50%;
  height: 2em;
}