.c-view {
    display: flex;
    justify-content: center;
      .c-view-container {
        width: 30%;
        height: 80%;
        margin: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 3px solid #f3ce7f;
        background-color: #fae5b8;
        .c-view-content{
          padding-bottom: 80px;
        }
        .c-view-header{
          font-size: 30px;
        }
      }
    }